@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-container {
  position: relative;
  width: 180px;  /* Suurempi neliö */
  height: 180px; /* Suurempi neliö */
  padding: 16px; /* Lisää tilaa */
}

.icon-container img {
  width: 160px;  /* Suurempi kuva */
  height: 160px; /* Suurempi kuva */
  object-fit: contain;
  display: block;
}

.icon-container .border {
  position: absolute;
  inset: 0;
  background-image: url('/iconImages/icon_borders.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none; /* Ei estä klikattavuutta */
}

.icon-container.flash .border {
  animation: none;
}

.flex {
  padding-right: 42px; 
}

@keyframes pulse-border {
  0% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 0px rgba(255, 255, 255, 0.7);
  }
}

.border-pulse {
  animation: pulse-border 1.2s ease-in-out infinite;
  border-radius: 12px;
  padding: 15px;
}
