@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #fff3e3;
}

.choice-item {
  width: 160px;
  height: 160px;
}

@media (max-width: 640px) {
  .choice-item {
    width: 120px; 
    height: 120px;
  }
  .border-pulse {
    animation: pulse 3s infinite;  /* Pidempi animaatio */
  }
}

@media (max-width: 1024px) {
  .choice-item {
    width: 140px;
    height: 140px;
  }
  .border-pulse {
    animation: pulse 2.5s infinite;
  }
}


/* Isot mobiililaitteet ja tabletit */
@media (max-width: 1024px) {
  .border-pulse {
    animation: pulse 2.5s infinite;  /* Pidempi animaatio */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.border-pulse {
  border: 2px solid rgba(255, 255, 255, 0.6); /* Ohut ja himmeä alkuperäinen väri */
  border-radius: 12px; /* Pyöristetyt kulmat */
  animation: pulse-animation 2s ease-in-out infinite; /* Animaatio, joka toistuu jatkuvasti */
}

/* Pulssimainen animaatio, joka tuo "unimaisen" vaikutelman */
@keyframes pulse-animation {
  0% {
    border-color: rgba(255, 255, 255, 0.6); /* Lähtötilanteessa himmeä väri */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3); /* Hieman sumuinen valo alussa */
  }
  50% {
    border-color: rgba(255, 255, 255, 1); /* Vahvempi, kirkas väri */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6); /* Kirkastettu hehku */
  }
  100% {
    border-color: rgba(255, 255, 255, 0.6); /* Palataan alkuperäiseen väriin */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3); /* Hehku heikkenee */
  }
}