@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.border-pulse {
  border: 2px solid rgba(255, 255, 255, 0.6); /* Ohut ja himmeä alkuperäinen väri */
  border-radius: 12px; /* Pyöristetyt kulmat */
  animation: pulse-animation 2s ease-in-out infinite; /* Animaatio, joka toistuu jatkuvasti */
}

/* Pulssimainen animaatio, joka tuo "unimaisen" vaikutelman */
@keyframes pulse-animation {
  0% {
    border-color: rgba(255, 255, 255, 0.6); /* Lähtötilanteessa himmeä väri */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3); /* Hieman sumuinen valo alussa */
  }
  50% {
    border-color: rgba(255, 255, 255, 1); /* Vahvempi, kirkas väri */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.6); /* Kirkastettu hehku */
  }
  100% {
    border-color: rgba(255, 255, 255, 0.6); /* Palataan alkuperäiseen väriin */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3); /* Hehku heikkenee */
  }
}